.boxBorder {
  border: 2px solid #990066;
  padding: 10px;
}

/* Whole document: */
body{
  font-size: 11pt;
  color: black;
}
/* Headers */
h1,h2,h3,h4,h5,h6{
  font-size: 16pt;
}

ol { padding-left: 1.2em; }

